
body {
  font-family: Calibri, Helvetica, sans-serif;
  font-size: small;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.1;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 95vh;
}

#legend-container {
  z-index: 0;
  order: 1;
  width: 250px;
}

#plot-container {
  z-index: 0;
  order: 2;
  flex: 1 1 auto;
}

.legendtext {
  text-align: justify;
}
